html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 18px;
  border-top: 7px solid white;
  color: white;
  background-color: $dark-gray;
  text-align: center;
}
