.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 9px;
  border-top: 7px solid white;
  color: white;
  background-color: $dark-gray;
  font-size: 15px;
  text-align: center;

  a {
    color: white;

    &.gizra-logo  {
      font-size: 17px;
    }
  }

  i.fa.fa-heart {
    font-size: 14px;
  }
}
