#my-account {

  .name {
    margin-top: 25px;
    @extend .blue-pill;
  }

  .company-title {
    margin-top: 10px 0;
  }

  .companies {
    list-style: none;
    margin-bottom: 20px;
    padding: 0;

    li {
      margin-top: 5px;
    }
  }
}
